<!DOCTYPE html>
  <!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
  <!--[(if gt IE 8) | (!IE)]><!--><html lang="en"><!--<![endif]-->
  <head>
    {% include "_partials/__header.njk" %}
  </head>

  <body>
    <main id="root" role="main">
      <div class="side-nav-left">
        {% include "_partials/nav/left.njk" %}
      </div>
        <div class="content-primary">
          {% block main_content %}
          {% endblock %}
        </div>
    </main>
    {% include "_partials/__footer.njk" %}
  </body>
</html>
