<ul class="routes-wrapper">
  <li class="route-head">Route-1</li>
  <li>
    <ul class="route-links">
      <li><a href='/' class="er">Index handler</a></li>
      <li><a href='/user/settings'>User settings</a></li>
      <li><a href='/company/create'>Create company</a></li>
      <li><a href='/company/details/id/123'>Company details</a></li>
    </ul>
  </li>
</ul>
