{% extends "layouts/default.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Company Router: Company details page</h1>
      <p class="govuk-body">{{ sampleKey }}</p>
    </div>
  </div>
{% endblock %}
