{% extends "layouts/default.njk" %}

{% block main_content %}

  <div class="generic-class-name">
    <h1 class="govuk-heading-l">User Router: User profile page</h1>
    <p class="govuk-body">{{ sampleKey }}</p>
  </div>

{% endblock %}
