#!bin/bash

export NODE_ENV=dev
export NODE_PORT=3000
export NODE_PORT_SSL=3443

export NODE_HOSTNAME=example.com
export NODE_HOSTNAME_SECURE=secure.example.com
export NODE_BASE_URL="http://example.com"
export NODE_BASE_URL_SECURE="https://secure.example.com"

export NODE_APP_NAME="node-web-starter-ts"
export NODE_LOG_LEVEL="info"

export PIWIK_URL=
export PIWIK_SITE_ID=
export COOKIE_SECRET=
export COOKIE_DOMAIN=
export CACHE_SERVER=
export CHS_URL=

export NODE_SSL_ENABLED=OFF
export NODE_SSL_PRIVATE_KEY="/path/to/private/key/server.key"
export NODE_SSL_CERTIFICATE="/path/to/certificate/server.crt"

export NUNJUCKS_LOADER_WATCH=false
export NUNJUCKS_LOADER_NO_CACHE=true

export EXAMPLE_SERVICE_1_HOST = "api.example-service-1.com"
export EXAMPLE_SERVICE_1_API_KEY = abcd123
export EXAMPLE_SERVICE_1_USERNAME = username
export EXAMPLE_SERVICE_1_PASSWORD = password123!

export EXAMPLE_SERVICE_2_HOST = "api.example-service-2.com"
export EXAMPLE_SERVICE_2_API_KEY = abcd123
export EXAMPLE_SERVICE_2_USERNAME = username
export EXAMPLE_SERVICE_2_PASSWORD = password123!
