<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <p>&copy; 2020</p>
  </div>
</footer>

<script src="/js/app.min.js"></script>
<script src="/assets/govuk-frontend/govuk/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
