<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<title>{{ title }}</title>
<link href="/css/app.min.css" media="screen" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{# Set the page object to hold values exported from server to JS files #}
<script type="text/javascript">
  var page = page || {};
</script>

{#<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>#}
