{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukHeader({
  homepageUrl: "https://gov.uk"
}) }}
{{ govukServiceNavigation({
  serviceName: "Node.js Web Starter",
  serviceUrl: chsUrl
}) }}
<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}
</div>
