<script src="/js/app.min.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js"></script>
<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.3.1.min.js"></script>
