{# Extends the Companies House Page Template: https://github.com/companieshouse/ch-node-utils/blob/2.0.0/docs/page-template.md #}
{% extends "ch-node-utils/templates/layouts/template.njk" %}

{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{% set mainContentId = "main-page-content" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block head %}
  {{ super() }}
  {% include "partials/__meta_header.njk" %}
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    text: "Skip to main content",
    href: "#" + mainContentId
  }) }}
{% endblock %}

{% block header %}
  {% include "partials/__header.njk" %}
{% endblock %}

{% block bodyStart %}
  {# {% include "partials/cookie_consent_banner.njk" %} #}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include "partials/nav/left.njk" %}
    </div>
    <div class="govuk-grid-column-two-thirds" id="{{ mainContentId }}">
      {% include "partials/error_summary.njk" %}
      {% block main_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/__footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% include "partials/__meta_footer.njk" %}
{% endblock %}
